* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Philosopher-Regular;
    src: url(../fonts/Philosopher-Regular.ttf);
}

html {
    font-size: 10px;
}

body {
    background-color: #ffe2b0;
    padding: 2rem 0 2rem 0;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10rem;
}

img {
    transition: 0.3s;
}

/* li {
    display: inline-block;
    margin-right: 10rem;
}

li:last-child {
    margin-right: 0;
} */

a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s;
}

nav {
    margin-bottom: 2rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.section-image {
    position: relative;
    background-image: url(../img/background_image.jpg);
    height: 64rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.section-image__block {
    position: absolute;
    top: 54%;
    left: 51%;
    height: 19rem;
    width: 42rem;
    background: linear-gradient(180deg,
            rgba(244, 213, 178, 0.8) 0%,
            rgba(234, 156, 65, 0.8) 100%);
    padding-top: 1.5rem;
    transition: 0.3s;
}

.section-image__border {
    border: 1px solid black;
    height: 16rem;
    width: 39rem;
    margin: 0 auto;
    padding: 1.7rem 0 0 2.8rem;
}

.section-image__title, .block-adaptive__title {
    font-size: 3.6rem;
    margin-bottom: 0.9rem;
    font-family: Philosopher-Regular;
    font-weight: 400;
    transition: 0.3s;
}

.section-image__text {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.section-description {
    margin-bottom: 2rem;
}

.section-description__icon-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 7.6rem;
}

/* .section-description__icon-box img {
    margin-right: 7.6rem;
}

.section-description__icon-box img:last-child {
    margin-right: 0rem;
} */

.section-description__text-box {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.section-description__title {
    font-size: 9.6rem;
    font-family: Philosopher-Regular;
    font-weight: 400;
}

.section-description__text {
    font-size: 1.8rem;
}

.red {
    color: #f15b40;
}

.section-map {
    text-align: center;
    margin-bottom: 2rem;
}

.section-map__line {
    border-bottom: 0.1rem solid #999999;
    width: 90%;
    margin: 0 auto;
}

.section-map__title {
    font-size: 3.6rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-family: Philosopher-Regular;
}

iframe {
    margin-bottom: 2rem;
}

a:hover {
    color: rgba(122, 65, 37, 0.8);
    transform: scale(110%) rotate(10deg);
}

.section-image__block:hover {
    transform: scale(120%);
}

.icon {
    transition: all 0.1s;
}

.icon:hover {
    transform: scale(105%);
    filter: drop-shadow(-0.5rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5));
}

.logo:active {
    rotate: 180deg;
}

.section-image__block:active {
    background: linear-gradient(180deg,
            rgba(244, 213, 178, 1) 0%,
            rgba(234, 156, 65, 1) 100%);
}

.block-adaptive {
    display: none;
    text-align: center;
    width: 90%;
    border: .2rem dashed #f15b40;
    margin: 0 auto 4rem auto;
}

.block-adaptive__text [open] {
    padding-bottom: 2rem;
}

.block-adaptive__title::marker {
    content: none;
}

.block-adaptive__title {
    cursor: help;
}

.block-adaptive__title:hover {
    color: #f15b40;

}
